<h1>liste continent</h1><br>

<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Nom</th>
          <th scope="col">Superficie</th>
          <th scope="col">Population</th>
          <th scope="col">Langues</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let continent of  continents">
          <td>{{continent.code}}</td>
          <td>{{continent.nom}}</td>
          <td>{{continent.superficie}}</td>
          <td>{{continent.population}}</td>
          <td>{{continent.langues}}</td>
        </tr>
      </tbody>
    </table>
  </div>